.success-dialog{
    background-color: #a8f7475e;
    margin: 0;
    padding: 7px;
}

.success-title{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    line-height: normal;
}

mat-dialog-actions{
    justify-content: center;
}