 .register{
  background-color: rgba(55, 133, 206, 0.875);
    font-size: 1.1rem;
    font-weight: 500;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 17px;
  }

  .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .botton-user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

  }

  .user{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    width: 40px;
    height: 40px;
  }

