* {
    margin-top: 50px;
    text-align: center;
}

h1 {
    text-shadow: 2px 0px 5px #34343654;
    color: #7539a7d3;
}

.vacc-table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action{
    display: flex;
    align-items: center;
}

.action button{
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 5px;
    left: 20%;
}