<div class="table-vac">
    <table mat-table [dataSource]="dataSource" matSort class="table">
        <!-- Define las columnas dinámicamente -->
        <ng-container class="table-col" *ngFor="let col of displayedColumns" matColumnDef="{{ col }}">
          <th class="thead" mat-header-cell *matHeaderCellDef mat-sort-header>{{ col | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="col === 'actions'">
                <button mat-icon-button (click)="deleteVaccine(element.idVaccine)">
                  <mat-icon >delete</mat-icon>
                </button>
            </ng-container>

            {{ element[col] }}
        </td>
        </ng-container>
      
        <!-- Definición de las filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <!-- Agrega el paginador -->
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>