* {
    text-align: center;
    margin: 50px 0;
}

h1 {
    text-shadow: 2px 0px 5px #34343654;
    color: #7539a7d3;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}