<mat-grid-list cols="1" rowHeight="8:1">
    <mat-grid-tile rowspan="2">
        <app-carrousel class="app-carousel"></app-carrousel>
    </mat-grid-tile>
    <mat-grid-tile id = "benefits" rowspan="3">
        <app-benefit class="app-benefit"></app-benefit>
    </mat-grid-tile>
    <mat-grid-tile id = "aboutUs" rowspan="2">
        <div class="about-us">
            <div class="about-us-title">
                <h1 class="about-us-title-text">Sobre Nosotros</h1>
            </div>
            <div class="about-us-content">                    

                <p class="about-us-text">
                Desde nuestra fundación en 2011, nos hemos dedicado a ser más que una clínica veterinaria; somos un hogar de atención dedicado a la salud y la felicidad de tus queridas mascotas. <br>
                Nuestro equipo de expertos se esfuerza por proporcionar atención compasiva y personalizada, utilizando lo último en tecnología y conocimientos veterinarios. <br> 
                Desde cuidados preventivos hasta tratamientos especializados, 
                en PetCare, estamos comprometidos a ser tu socio confiable en el bienestar de tus compañeros peludos. <br> <br>
                <strong>¡Únete a nosotros en la promesa de una vida más feliz y saludable para tus mascotas en PetCare!</strong>
                </p>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile id = "contact" style="background-color:#363732; color: white;">
        <app-footer class="app-footer"></app-footer>
    </mat-grid-tile>
</mat-grid-list>

<app-float-button></app-float-button>